body {
  margin: 0;
}
.container {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.product-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  max-width: 800px;
  margin: 20px;
  overflow: hidden;
}

.product-image-gallery {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.slider-container {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.slide.active {
  display: block;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 1.2em;
  cursor: pointer;
  z-index: 10;
  border-radius: 5px;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.prev-button:hover,
.next-button:hover {
  opacity: 1;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.product-info {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.sale {
  position: absolute;
  background-color: rgb(233, 27, 27);
  color: #eee;
  padding: 2px 4px;
  top: 0;
  right: 0;
}
.product-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.product-price {
  font-size: 1.2em;
  color: #e44d26;
  margin-bottom: 15px;
}
.product-price del {
  opacity: 0.7;
  padding-left: 9px;
  font-size: small;
  color: #333;
}
.product-price .price {
  font-weight: bold;
}

.product-description {
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}

.product-actions a {
  background-color: #e44d26;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  margin-right: 10px;
  text-decoration: none;
}

.product-actions a:hover {
  background-color: #4cae4c;
}

.product-actions .view-details {
  background-color: #4cae4c;
}

.product-actions .view-details:hover {
  background-color: #0056b3;
}

/* Responsive (tùy chọn) */
@media (max-width: 600px) {
  .product-card {
    flex-direction: column;
  }

  .product-image-gallery {
    width: 100%;
    height: auto;
  }
}
